.example-card {
  margin: 0.5rem 0;
  max-width: 20rem;
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &-details {
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    background: #f1efef;
    color: #111;
    font-weight: 500;
    letter-spacing: 1px;
    mat-icon {
      color: rgb(206, 201, 201);
    }
  }
}
.content_instruction_user {
  display: grid;
  grid-template-columns: repeat(2, 420px);
  gap: 0.5rem;
  @media all and (max-width: 991px) {
    grid-template-columns: repeat(1, 320px);
  }
  .instruction_user {
    width: 100vw;
    border-left: 2px solid var(--main-color-blue);
  }
}
