/* You can add global styles to this file, and also import other style files */
:root {
  --main-color-blue: #3f51b5;
  --font-main: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--font-main);
}
body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px var(--main-color-blue);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(15, 26, 128);
  outline: 1px solid rgb(44, 92, 141);
  border-radius: 0.7rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
